@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 80px;
    background: #c90119;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.header .logo img {
    width: 75%;
}

.logo {
    width: 5vw;
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 50px;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    margin-top: 12%;
    padding: 10px;
}

.list-project {
    margin: 20px;
}

ul {
    padding: 25px;
}

li {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 25px;
    box-shadow: 0.5px 0.5px 5px 2px rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.list {
    display: flex;
    align-items: center;
    padding: 15px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

img {
    margin: 15px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #c90119;
    padding: 20px;
    margin-top: 5%;
}

footer p {
    color: #fff;
}